@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Chewy&family=Dancing+Script:wght@400..700&family=Knewave&family=Luckiest+Guy&family=Orbitron:wght@400..900&display=swap');

.hero h2{
    font-family: "Luckiest Guy", cursive;
    font-size:50px;
    font-weight:700;
    letter-spacing:1px;
    line-height:58px;
}

.adminNav{
    animation:slide 0.1s ease-in-out;
}

@keyframes slide {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0px);
    }
}

button{
    cursor: pointer;
}

.my-royal-popup img{
    border-radius: 50%;
    box-shadow: 1px 1px 15px blue;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    p{
        font-size:20px;
    }

    h2{
        font-size:30px;
    }
}